# 1. GCI 데이터 변환

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os
from datetime import datetime, timedelta
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
#기본 경로 선언
source_path = '../data1/'
output_path = '../data2/'

gci_filenm = 'raw_gci.csv'
pds_filenm = 'raw_index_pds.csv'
var_filenm = '로이터_변수_데이터set_180605.xlsx'
idx_filenm = '로이터_지표_인도_오스트리아_인디아_아프리카_180614_원본.xlsx'

gci_path = os.path.join(source_path, gci_filenm)
pds_path = os.path.join(source_path, pds_filenm)
var_path = os.path.join(source_path, var_filenm)
idx_path = os.path.join(source_path, idx_filenm)

gci_output_path = os.path.join(output_path, 'weekly_gci.csv')
pds_output_path = os.path.join(output_path, 'weekly_pds.csv')
var_output_path = os.path.join(output_path, 'var_reuter_set.csv')
idx_output_path = os.path.join(output_path, 'idx_reuter_coal.csv')

In [3]:
# csv 파일 불러오기
df_gci = pd.read_csv(gci_path, parse_dates=True)
# 컬럼명 변경, 데이터(Date)형식 변경 및 Index 컬럼 변경
df_gci.columns = ['Date', 'GCI']
df_gci['Date'] = pd.to_datetime(df_gci['Date'])
df_gci = df_gci.set_index('Date')

#현재 변수에 있는 내용 보여주기
df_gci.head()

              GCI
Date
2003-07-04  24.63
2003-07-11  24.59
2003-07-18  24.82
2003-07-25  24.89
2003-08-01  24.91

In [4]:
#변경된 csv 저장
df_gci.to_csv(gci_output_path)

# 2. KoreaPDS 데이터 변환

In [5]:
# csv 파일 불러오기
df_pds = pd.read_csv(pds_path, index_col=0, parse_dates=True)

#pds csv의 row와 column수 출력
df_pds.shape

(602, 107)

In [6]:
#Bloomberg, KoreaPDF 지수 제거
df_pds = df_pds.drop(columns=df_pds.filter(regex='PDS|Bloomberg'))
df_pds.shape

(602, 98)

In [7]:
df_pds

,WorldBank-Agriculture Index,IMF-Crude Oil(petroleum) Price index,CRB BLS Spot Index,철근 [SHFE] 2018.10,LMEX Index,GSCI Light Energy Index (CPW 4),GSCI Livestock,WorldBank-Energy Index,중후판 12(mm)x8(ft)x20(ft) [국내(1차 유통가)] 현물,원당 raw sugar [ICE(NYBOT)] 2018.10,...,Baltic Dirty Tanker Index (BDTI),GSCI Precious Metals,백금 [LPPM] 현물,팔라듐 [LPPM] 현물,IMF-Metals Price Index,IMF-Fuel (energy) Index,Howe Robinson Container Index,GSCI Petroleum,CRB BLS Metals Sub-Index,CRB BLS Fat & Oils Sub-Index
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-05,73.6850,102.4100,359.17,3577.00,3459.10,550.84,267.27,74.7550,700000.0,11.07,...,1217.800,1988.83,1132.80,330.10,171.5875,104.0725,1027.0,329.48,686.3950,273.0175
2007-01-12,74.1500,104.3000,363.91,3577.00,3439.80,550.84,267.27,76.3000,700000.0,10.81,...,1208.200,1988.83,1147.20,334.40,172.3950,105.7850,1035.0,329.48,695.0500,275.6350
2007-01-19,74.6150,106.1900,367.04,3577.00,3579.16,550.84,267.27,77.8450,700000.0,10.78,...,1241.600,1988.83,1168.60,347.10,173.2025,107.4975,1060.4,329.48,703.7050,278.2525
2007-01-26,75.0800,108.0800,371.99,3577.00,3465.72,550.84,267.27,79.3900,700000.0,10.57,...,1203.800,1988.83,1171.80,337.20,174.0100,109.2100,1086.7,329.48,712.3600,280.8700
2007-02-02,75.0525,109.5225,365.30,3577.00,3378.16,550.84,267.27,79.9300,700000.0,10.31,...,1174.000,1988.83,1185.80,339.20,176.4475,110.4300,1093.4,329.48,727.5525,291.6200
2007-02-09,75.0250,110.9650,371.03,3577.00,3523.44,550.84,267.27,80.4700,700000.0,10.71,...,1187.800,1988.83,1201.40,339.20,178.8850,111.6500,1118.9,329.48,742.7450,302.3700
2007-02-16,74.9975,112.4075,374.32,3577.00,3659.80,550.84,267.27,81.0100,700000.0,10.63,...,1164.200,1988.83,1218.80,342.60,181.3225,112.8700,1132.4,329.48,757.9375,313.1200
2007-02-23,74.9700,113.8500,386.91,3577.00,3737.76,550.84,267.27,81.5500,700000.0,10.85,...,1106.600,1988.83,1231.20,350.05,183.7600,114.0900,1140.4,329.48,773.1300,323.8700
2007-03-02,75.1375,115.9575,379.99,3577.00,3657.62,550.84,267.27,82.8600,700000.0,10.64,...,1068.400,1988.83,1187.80,346.00,188.3075,115.8425,1141.6,329.48,779.7475,322.3825
2007-03-09,75.3050,118.0650,381.67,3577.00,3817.70,550.84,267.27,84.1700,700000.0,10.33,...,1080.800,1988.83,1211.80,349.50,192.8550,117.5950,1144.1,329.48,786.3650,320.8950
2007-03-16,75.4725,120.1725,386.71,3577.00,3870.58,550.84,267.27,85.4800,700000.0,10.21,...,1195.600,1988.83,1231.40,352.40,197.4025,119.3475,1158.3,329.48,792.9825,319.4075
2007-03-23,75.6400,122.2800,390.91,3577.00,3869.00,550.84,267.27,86.7900,700000.0,9.99,...,1314.200,1988.83,1241.40,352.35,201.9500,121.1000,1169.7,329.48,799.6000,317.9200
2007-03-30,75.9220,122.3280,388.07,3577.00,4114.43,550.84,267.27,86.8160,700000.0,9.73,...,1270.000,1988.83,1244.75,352.00,202.6360,121.1780,1185.9,329.48,796.8380,326.4000
2007-04-06,76.2040,122.3760,392.47,3577.00,4234.48,550.84,267.27,86.8420,700000.0,9.88,...,1106.500,1988.83,1265.50,365.63,203.3220,121.2560,1198.3,329.48,794.0760,334.8800
2007-04-13,76.4860,122.4240,395.25,3577.00,4298.54,550.84,267.27,86.8680,700000.0,9.55,...,1138.800,1988.83,1287.20,375.50,204.0080,121.3340,1211.6,329.48,791.3140,343.3600
2007-04-20,76.7680,122.4720,396.98,3577.00,4282.60,550.84,267.27,86.8940,700000.0,9.24,...,1188.000,1988.83,1305.40,376.80,204.6940,121.4120,1216.2,329.48,788.5520,351.8400
2007-04-27,77.0500,122.5200,400.66,3577.00,4435.73,550.84,267.27,86.9200,700000.0,9.20,...,1261.000,1988.83,1293.20,371.40,205.3800,121.4900,1221.4,329.48,785.7900,360.3200
2007-05-04,77.7425,123.9100,403.99,3577.00,4429.95,550.84,267.27,87.7000,700000.0,9.28,...,1307.750,1988.83,1324.75,367.38,203.3750,122.8025,1222.3,329.48,790.4700,362.6175
2007-05-11,78.4350,125.3000,405.93,3577.00,4259.42,550.84,267.27,88.4800,700000.0,8.75,...,1229.200,1988.83,1317.00,359.40,201.3700,124.1150,1235.7,329.48,795.1500,364.9150
2007-05-18,79.1275,126.6900,407.68,3577.00,4128.22,550.84,267.27,89.2600,710000.0,8.95,...,1118.800,1988.83,1292.00,371.20,199.3650,125.4275,1238.8,329.48,799.8300,367.2125
2007-05-25,79.8200,128.0800,405.20,3577.00,4148.13,550.84,267.27,90.0400,710000.0,9.33,...,1026.000,1988.83,1273.50,368.25,197.3600,126.7400,1243.4,329.48,804.5100,369.5100
2007-06-01,80.1600,130.5900,412.34,3577.00,4136.60,550.84,267.27,91.2175,710000.0,8.67,...,999.400,1988.83,1292.80,368.20,197.1525,128.8475,1251.4,329.48,816.3250,371.0950
2007-06-08,80.5000,133.1000,414.55,3577.00,4046.82,550.84,267.27,92.3950,750000.0,8.56,...,1041.400,1988.83,1282.00,366.40,196.9450,130.9550,1254.3,329.48,828.1400,372.6800
2007-06-15,80.8400,135.6100,417.52,3577.00,4002.10,550.84,267.27,93.5725,750000.0,9.44,...,1063.000,1988.83,1293.60,372.70,196.7375,133.0625,1263.8,329.48,839.9550,374.2650
2007-06-22,81.1800,138.1200,411.70,3577.00,3988.00,550.84,267.27,94.7500,750000.0,9.53,...,1036.800,1988.83,1275.80,366.90,196.5300,135.1700,1279.4,329.48,851.7700,375.8500
2007-06-29,81.2780,136.8220,415.55,3577.00,4088.64,550.84,267.27,94.0460,750000.0,9.45,...,1033.000,1988.83,1283.70,364.60,193.2120,134.1380,1283.4,329.48,849.3220,371.5000
2007-07-06,81.3760,135.5240,419.59,3577.00,4098.22,550.84,267.27,93.3420,750000.0,9.72,...,1057.200,1988.83,1305.20,367.40,189.8940,133.1060,1307.7,329.48,846.8740,367.1500
2007-07-13,81.4740,134.2260,420.61,3577.00,4123.50,550.84,267.27,92.6380,750000.0,10.02,...,1060.600,1988.83,1317.00,367.70,186.5760,132.0740,1326.9,329.48,844.4260,362.8000
2007-07-20,81.5720,132.9280,420.54,3577.00,4086.88,550.84,267.27,91.9340,750000.0,10.14,...,1036.600,1988.83,1315.40,365.80,183.2580,131.0420,1334.5,329.48,841.9780,358.4500
2007-07-27,81.6700,131.6300,405.17,3577.00,4033.16,550.84,267.27,91.2300,750000.0,10.23,...,983.600,1988.83,1283.60,364.20,179.9400,130.0100,1346.3,329.48,839.5300,354.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,87.5200,86.7800,432.10,3807.00,3371.80,388.61,279.24,83.5600,665000.0,14.95,...,755.075,1698.39,922.00,1056.00,132.4000,88.2500,605.0,227.55,952.6160,353.0120
2017-12-29,87.7000,86.7800,443.44,3822.25,3407.00,392.44,280.32,85.0000,670000.0,15.24,...,684.750,1729.94,953.00,1092.00,132.4000,88.2500,610.0,231.42,963.1300,346.0700
2018-01-05,88.0750,86.7800,439.79,3817.20,3364.80,392.27,278.36,83.8750,680000.0,14.50,...,684.600,1734.23,976.80,1093.80,132.4000,88.2500,624.0,236.40,963.1800,350.6825
2018-01-12,88.4500,86.7800,438.67,3828.00,3379.40,394.12,286.32,82.7500,680000.0,13.34,...,711.000,1750.93,1002.50,1111.40,132.4000,88.2500,631.0,237.57,963.2300,355.2950
2018-01-19,88.8250,86.7800,438.12,3934.80,3399.20,399.01,287.44,81.6250,680000.0,13.22,...,690.400,1769.54,1013.60,1093.00,132.4000,88.2500,637.0,241.88,963.2800,359.9075
2018-01-26,89.2000,86.7800,443.89,3935.20,3427.20,399.83,286.93,80.5000,680000.0,13.52,...,666.400,1754.96,1002.20,1061.00,132.4000,88.2500,640.0,240.78,963.3300,364.5200
2018-02-02,89.5000,86.7800,442.42,3938.40,3376.60,391.02,283.44,80.6250,660000.0,13.80,...,647.000,1725.20,981.40,1000.60,132.4000,88.2500,645.0,228.50,962.1775,364.1850
2018-02-09,89.8000,86.7800,439.82,3919.33,3357.60,393.21,285.44,80.7500,660000.0,13.52,...,643.400,1755.05,982.00,1005.00,132.4000,88.2500,649.0,222.89,961.0250,363.8500
2018-02-16,90.1000,86.7800,441.93,3889.50,3431.20,397.39,285.99,80.8750,660000.0,13.53,...,643.000,1737.09,997.00,1034.00,132.4000,88.2500,651.0,231.27,959.8725,363.5150
2018-02-23,90.4000,86.7800,436.88,4015.60,3368.40,397.06,279.54,81.0000,660000.0,13.46,...,659.800,1721.40,981.40,1033.80,132.4000,88.2500,661.0,229.84,958.7200,363.1800
2018-03-02,90.7750,86.7800,445.29,3892.80,3302.20,396.28,278.16,82.6500,680000.0,13.11,...,654.000,1731.46,957.00,985.60,132.4000,88.2500,677.0,227.69,962.0825,362.8450
2018-03-09,91.1500,86.7800,445.79,3724.60,3294.40,393.34,276.27,84.3000,685000.0,12.74,...,644.600,1729.66,959.60,992.00,132.4000,88.2500,703.0,227.46,965.4450,362.5100
2018-03-16,91.5250,86.7800,440.91,3608.20,3245.40,391.35,266.71,85.9500,690000.0,12.69,...,643.400,1734.69,950.40,987.80,132.4000,88.2500,734.0,237.91,968.8075,362.1750
2018-03-23,91.9000,86.7800,445.10,3395.40,3194.60,390.97,260.81,87.6000,690000.0,12.38,...,660.750,1747.13,943.50,975.75,132.4000,88.2500,746.0,241.67,972.1700,361.8400
2018-03-30,91.9200,86.7800,436.40,3360.00,3209.60,388.80,254.54,88.9000,690000.0,12.39,...,647.000,1742.48,917.00,922.50,132.4000,88.2500,755.0,235.72,968.0180,363.2220
2018-04-06,91.9400,86.7800,439.43,3404.20,3301.20,402.44,261.15,90.2000,680000.0,12.14,...,635.000,1756.04,928.40,955.80,132.4000,88.2500,761.0,245.94,963.8660,364.6040
2018-04-13,91.9600,86.7800,442.07,3441.40,3407.60,407.54,265.60,91.5000,690000.0,11.75,...,636.600,1761.67,935.40,1021.00,132.4000,88.2500,773.0,250.81,959.7140,365.9860
2018-04-20,91.9800,86.7800,445.68,3556.40,3376.80,405.66,264.42,92.8000,690000.0,11.08,...,643.600,1728.68,915.60,974.80,132.4000,88.2500,785.0,254.48,955.5620,367.3680
2018-04-27,92.0000,86.7800,446.27,3678.33,3294.60,408.64,263.08,94.1000,690000.0,11.63,...,651.200,1711.56,900.80,963.40,132.4000,88.2500,793.0,254.99,951.4100,368.7500
2018-05-04,92.0000,86.7800,445.03,3628.80,3335.20,411.40,265.01,94.1000,700000.0,11.33,...,654.750,1724.21,918.25,985.50,132.4000,88.2500,812.0,263.22,945.5775,368.5850
2018-05-11,92.0000,86.7800,443.29,3670.40,3340.80,411.57,258.64,94.1000,700000.0,11.52,...,682.000,1700.78,898.00,986.80,132.4000,88.2500,822.0,268.86,939.7450,368.4200
2018-05-18,92.0000,86.7800,445.22,3573.80,3342.00,416.00,260.47,94.1000,700000.0,12.29,...,755.400,1701.23,902.20,980.20,132.4000,88.2500,826.0,268.64,933.9125,368.2550
2018-05-25,92.0000,86.7800,438.33,3649.40,3338.40,412.18,266.83,94.1000,700000.0,12.59,...,767.000,1702.82,905.00,984.50,132.4000,88.2500,832.0,257.89,928.0800,368.0900
2018-06-01,92.0000,86.7800,445.28,3761.60,3440.00,408.96,267.27,94.1000,700000.0,12.02,...,738.800,1702.16,902.00,1008.60,132.4000,88.2500,843.0,252.84,928.0800,368.0900
2018-06-08,92.0000,86.7800,450.91,3847.20,3465.40,408.05,266.38,94.1000,700000.0,12.29,...,754.200,1701.86,904.00,1012.40,132.4000,88.2500,846.0,253.27,928.0800,368.0900
2018-06-15,92.0000,86.7800,446.00,3789.00,3304.60,397.18,268.70,94.1000,750000.0,11.93,...,741.800,1669.94,871.00,971.60,132.4000,88.2500,843.0,249.45,928.0800,368.0900
2018-06-22,92.0000,86.7800,439.69,3727.40,3239.40,399.29,262.91,94.1000,750000.0,11.92,...,728.600,1647.08,859.00,946.40,132.4000,88.2500,842.0,264.78,928.0800,368.0900
2018-06-29,92.0000,86.7800,437.57,3770.60,3133.00,397.48,268.49,94.1000,750000.0,11.49,...,709.500,1638.05,838.90,947.40,132.4000,88.2500,832.0,268.86,928.0800,368.0900
2018-07-06,92.0000,86.7800,436.90,3886.40,3046.00,388.70,251.87,94.1000,760000.0,11.23,...,736.800,1641.82,839.80,947.40,132.4000,88.2500,825.0,262.76,928.0800,368.0900
2018-07-13,92.0000,86.7800,432.56,3958.00,2972.40,380.41,246.10,94.1000,760000.0,11.09,...,722.200,1619.27,816.60,907.20,132.4000,88.2500,815.0,250.92,928.0800,368.0900

In [8]:
#인코딩 후 저장
df_pds.to_csv(pds_output_path, encoding='ms949')

# 3. Reuter 데이터 변환

In [9]:
df_pre_reuter = pd.read_excel(var_path)
df_reuter1 = df_pre_reuter.iloc[1:, 24:26]
df_reuter1.columns = ['Date', 'OILFUTURES=']
df_reuter2 = df_pre_reuter.iloc[1:, 0:2]
df_reuter2.columns = ['Date', 'USFFTARGET= CHT']
df_reuter3 = df_pre_reuter.iloc[1:, 3:5]
df_reuter3.columns = ['Date', 'USD=']
df_reuter4 = df_pre_reuter.iloc[1:, 6:8]
df_reuter4.columns = ['Date', 'XAU=']
df_reuter5 = df_pre_reuter.iloc[1:, 9:11]
df_reuter5.columns = ['Date', 'CNPMIC=ECI']
df_reuter6 = df_pre_reuter.iloc[1:, 12:14]
df_reuter6.columns = ['Date', 'JPRPMI=ECI']
df_reuter7 = df_pre_reuter.iloc[1:, 15:17]
df_reuter7.columns = ['Date', 'KRBUSI=ECI']
df_reuter8 = df_pre_reuter.iloc[1:, 18:20]
df_reuter8.columns = ['Date', 'USPMI=ECI']
df_reuter9 = df_pre_reuter.iloc[1:, 21:23]
df_reuter9.columns = ['Date', 'WTI=']
df_reuter10 = df_pre_reuter.iloc[1:, 27:29]
df_reuter10.columns = ['Date', 'GCI=']
df_reuter11 = df_pre_reuter.iloc[1:, 30:32]
df_reuter11.columns = ['Date', 'CCE=STOCK']
df_reuter = pd.merge(df_reuter1, df_reuter2, how='left')
df_reuter = pd.merge(df_reuter, df_reuter3, how='left')
df_reuter = pd.merge(df_reuter, df_reuter4, how='left')
df_reuter = pd.merge(df_reuter, df_reuter5, how='left')
df_reuter = pd.merge(df_reuter, df_reuter6, how='left')
df_reuter = pd.merge(df_reuter, df_reuter7, how='left')
df_reuter = pd.merge(df_reuter, df_reuter8, how='left')
df_reuter = pd.merge(df_reuter, df_reuter9, how='left')
df_reuter = pd.merge(df_reuter, df_reuter10, how='left')
df_reuter = pd.merge(df_reuter, df_reuter11, how='left')
df_reuter = df_reuter.drop_duplicates(['Date'], keep='last')
df_reuter = df_reuter.set_index('Date')
df_reuter = df_reuter.sort_values(by=['Date'])
df_reuter

,OILFUTURES=,USFFTARGET= CHT,USD=,XAU=,CNPMIC=ECI,JPRPMI=ECI,KRBUSI=ECI,USPMI=ECI,WTI=,GCI=,CCE=STOCK
Date,,,,,,,,,,,
1998-06-30,14.18,5.5,1370,296.7,NaN,NaN,NaN,48.9,14.3,NaN,NaN
1998-07-31,14.21,5.5,1229,286.2,NaN,NaN,NaN,49.2,14.27,NaN,NaN
1998-08-31,13.34,5.5,1348,276.4,NaN,NaN,NaN,49.3,13.29,NaN,NaN
1998-09-30,16.14,5.25,1388.5,296.7,NaN,NaN,NaN,48.7,16.19,NaN,NaN
1998-10-31,14.42,5,1318,292.3,NaN,NaN,NaN,48.7,14.48,NaN,NaN
1998-11-30,11.22,4.75,1245,292.7,NaN,NaN,NaN,48.2,11.37,NaN,NaN
1998-12-31,12.05,4.75,1200,288,NaN,NaN,NaN,46.8,12.14,NaN,NaN
1999-01-31,12.75,4.75,1174,286.1,NaN,NaN,NaN,50.6,12.81,NaN,NaN
1999-02-28,12.27,4.75,1222.5,286.6,NaN,NaN,NaN,51.7,12.31,NaN,NaN
1999-03-31,16.76,4.75,1226,279.8,NaN,NaN,NaN,52.4,16.77,NaN,NaN
1999-04-30,18.66,4.75,1188,286.4,NaN,NaN,NaN,52.3,18.69,106.283,NaN
1999-05-31,16.84,4.75,1186.2,270.1,NaN,NaN,NaN,54.3,16.85,110.244,NaN
1999-06-30,19.29,5,1157.5,262.25,NaN,NaN,NaN,55.8,19.33,132.691,NaN
1999-07-31,20.53,5,1203,255.7,NaN,NaN,NaN,53.6,20.52,123.954,NaN
1999-08-31,22.11,5.25,1180,255.3,NaN,NaN,NaN,54.8,22.15,155.86,NaN
1999-09-30,24.51,5.25,1216,298.5,NaN,NaN,NaN,57,24.54,135.798,NaN
1999-10-31,21.75,5.25,1199,298.3,NaN,NaN,NaN,57.2,21.79,133.708,NaN
1999-11-30,24.59,5.5,1159,290.5,NaN,NaN,NaN,58.1,24.87,120.883,NaN
1999-12-31,25.6,5.5,1135,287.5,NaN,NaN,NaN,57.8,25.76,127.315,NaN
2000-01-31,27.64,5.5,1123,282.85,NaN,NaN,NaN,56.7,27.65,178.952,NaN
2000-02-29,30.43,5.75,1130.9,291.75,NaN,NaN,NaN,55.8,30.57,182.348,NaN
2000-03-31,26.9,6,1105,278.7,NaN,NaN,NaN,54.9,26.86,172.36,NaN
2000-04-30,25.74,6,1109.5,273.25,NaN,NaN,NaN,54.7,25.71,154.945,NaN
2000-05-31,29.01,6.5,1129,271.9,NaN,NaN,NaN,53.2,29.03,181.258,NaN
2000-06-30,32.5,6.5,1114.9,289.75,NaN,NaN,NaN,51.4,32.44,180.502,NaN
2000-07-31,27.43,6.5,1116.6,277,NaN,NaN,NaN,52.5,27.5,189.175,NaN
2000-08-31,33.12,6.5,1108.7,277.5,NaN,NaN,NaN,49.9,33.09,188.875,NaN
2000-09-30,30.84,6.5,1115,274,NaN,NaN,NaN,49.7,30.87,191.961,NaN
2000-10-31,32.7,6.5,1136,264.8,NaN,NaN,NaN,48.7,32.7,199.966,NaN
2000-11-30,33.82,6.5,1214,270.1,NaN,NaN,NaN,48.5,33.61,193.392,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2018-04-25,68.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68,NaN,NaN
2018-04-26,68.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.18,NaN,NaN
2018-04-27,68.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.11,NaN,NaN
2018-04-30,68.57,1.75,1069.33,1314.95,51.1,53.8,76,57.3,68.56,339.03,3.42
2018-05-01,67.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.28,NaN,NaN
2018-05-02,67.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.91,NaN,NaN
2018-05-03,68.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.45,NaN,NaN
2018-05-04,69.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.71,NaN,NaN
2018-05-07,70.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.74,NaN,NaN
2018-05-08,69.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.83,NaN,NaN
2018-05-09,71.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.16,NaN,NaN
2018-05-10,71.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.36,NaN,NaN
2018-05-11,70.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.69,NaN,NaN
2018-05-14,70.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.01,NaN,NaN
2018-05-15,71.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.34,NaN,NaN
2018-05-16,71.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.43,NaN,NaN
2018-05-17,71.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.47,NaN,NaN
2018-05-18,71.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.23,NaN,NaN
2018-05-21,72.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.26,NaN,NaN
2018-05-22,72.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.09,NaN,NaN
2018-05-23,71.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.85,NaN,NaN
2018-05-24,70.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.77,NaN,NaN
2018-05-25,67.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.92,NaN,NaN
2018-05-29,66.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.8,NaN,NaN
2018-05-30,68.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.24,NaN,NaN
2018-05-31,67.04,1.75,1079.59,1297.92,51.1,52.8,77,58.7,66.98,353.44,3.45
2018-06-01,65.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.81,NaN,NaN
2018-06-04,64.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.76,NaN,NaN
2018-06-05,64.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-30,64.97,1.75,1069.7,1291.21,NaN,NaN,76,NaN,64.76,364.08,3.5

In [10]:

# df_reuter.shaped
# df_reuter.interpolate(method='linear', limit_direction='both', axis=0)
for c in df_reuter:
    df_reuter[c] = df_reuter[c].astype('float')
    df_reuter[c] = df_reuter[c].interpolate(limit_direction='both')
#     df_reuter[c].dtypes
df_reuter
# for c in df_reuter:
#    df_reuter[c] = df_reuter[c].interpolate(limit_direction='both')

,OILFUTURES=,USFFTARGET= CHT,USD=,XAU=,CNPMIC=ECI,JPRPMI=ECI,KRBUSI=ECI,USPMI=ECI,WTI=,GCI=,CCE=STOCK
Date,,,,,,,,,,,
1998-06-30,14.18,5.50,1370.000000,296.700000,49.400000,51.700000,87.000000,48.900000,14.30,106.283359,5.050000
1998-07-31,14.21,5.50,1229.000000,286.200000,49.400000,51.700000,87.000000,49.200000,14.27,106.283359,5.050000
1998-08-31,13.34,5.50,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-09-30,16.14,5.25,1388.500000,296.700000,49.400000,51.700000,87.000000,48.700000,16.19,106.283359,5.050000
1998-10-31,14.42,5.00,1318.000000,292.300000,49.400000,51.700000,87.000000,48.700000,14.48,106.283359,5.050000
1998-11-30,11.22,4.75,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-12-31,12.05,4.75,1200.000000,288.000000,49.400000,51.700000,87.000000,46.800000,12.14,106.283359,5.050000
1999-01-31,12.75,4.75,1174.000000,286.100000,49.400000,51.700000,87.000000,50.600000,12.81,106.283359,5.050000
1999-02-28,12.27,4.75,1222.500000,286.600000,49.400000,51.700000,87.000000,51.700000,12.31,106.283359,5.050000
1999-03-31,16.76,4.75,1226.000000,279.800000,49.400000,51.700000,87.000000,52.400000,16.77,106.283359,5.050000
1999-04-30,18.66,4.75,1188.000000,286.400000,49.400000,51.700000,87.000000,52.300000,18.69,106.283359,5.050000
1999-05-31,16.84,4.75,1186.200000,270.100000,49.400000,51.700000,87.000000,54.300000,16.85,110.243731,5.050000
1999-06-30,19.29,5.00,1157.500000,262.250000,49.400000,51.700000,87.000000,55.800000,19.33,132.690700,5.050000
1999-07-31,20.53,5.00,1203.000000,255.700000,49.400000,51.700000,87.000000,53.600000,20.52,123.954463,5.050000
1999-08-31,22.11,5.25,1180.000000,255.300000,49.400000,51.700000,87.000000,54.800000,22.15,155.860020,5.050000
1999-09-30,24.51,5.25,1216.000000,298.500000,49.400000,51.700000,87.000000,57.000000,24.54,135.798034,5.050000
1999-10-31,21.75,5.25,1199.000000,298.300000,49.400000,51.700000,87.000000,57.200000,21.79,133.708315,5.050000
1999-11-30,24.59,5.50,1159.000000,290.500000,49.400000,51.700000,87.000000,58.100000,24.87,120.883447,5.050000
1999-12-31,25.60,5.50,1135.000000,287.500000,49.400000,51.700000,87.000000,57.800000,25.76,127.314622,5.050000
2000-01-31,27.64,5.50,1123.000000,282.850000,49.400000,51.700000,87.000000,56.700000,27.65,178.951636,5.050000
2000-02-29,30.43,5.75,1130.900000,291.750000,49.400000,51.700000,87.000000,55.800000,30.57,182.348431,5.050000
2000-03-31,26.90,6.00,1105.000000,278.700000,49.400000,51.700000,87.000000,54.900000,26.86,172.359691,5.050000
2000-04-30,25.74,6.00,1109.500000,273.250000,49.400000,51.700000,87.000000,54.700000,25.71,154.944648,5.050000
2000-05-31,29.01,6.50,1129.000000,271.900000,49.400000,51.700000,87.000000,53.200000,29.03,181.257756,5.050000
2000-06-30,32.50,6.50,1114.900000,289.750000,49.400000,51.700000,87.000000,51.400000,32.44,180.501986,5.050000
2000-07-31,27.43,6.50,1116.600000,277.000000,49.400000,51.700000,87.000000,52.500000,27.50,189.174744,5.050000
2000-08-31,33.12,6.50,1108.700000,277.500000,49.400000,51.700000,87.000000,49.900000,33.09,188.874683,5.050000
2000-09-30,30.84,6.50,1115.000000,274.000000,49.400000,51.700000,87.000000,49.700000,30.87,191.961205,5.050000
2000-10-31,32.70,6.50,1136.000000,264.800000,49.400000,51.700000,87.000000,48.700000,32.70,199.966010,5.050000
2000-11-30,33.82,6.50,1214.000000,270.100000,49.400000,51.700000,87.000000,48.500000,33.61,193.392340,5.050000
...,...,...,...,...,...,...,...,...,...,...,...
2018-04-25,68.05,1.75,1068.032857,1316.242857,51.085714,53.700000,76.428571,57.585714,68.00,340.015714,3.380000
2018-04-26,68.19,1.75,1068.465238,1315.811905,51.090476,53.733333,76.285714,57.490476,68.18,339.687143,3.393333
2018-04-27,68.10,1.75,1068.897619,1315.380952,51.095238,53.766667,76.142857,57.395238,68.11,339.358571,3.406667
2018-04-30,68.57,1.75,1069.330000,1314.950000,51.100000,53.800000,76.000000,57.300000,68.56,339.030000,3.420000
2018-05-01,67.25,1.75,1069.796364,1314.175909,51.100000,53.754545,76.045455,57.363636,67.28,339.685000,3.421364
2018-05-02,67.93,1.75,1070.262727,1313.401818,51.100000,53.709091,76.090909,57.427273,67.91,340.340000,3.422727
2018-05-03,68.43,1.75,1070.729091,1312.627727,51.100000,53.663636,76.136364,57.490909,68.45,340.995000,3.424091
2018-05-04,69.72,1.75,1071.195455,1311.853636,51.100000,53.618182,76.181818,57.554545,69.71,341.650000,3.425455
2018-05-07,70.73,1.75,1071.661818,1311.079545,51.100000,53.572727,76.227273,57.618182,70.74,342.305000,3.426818
2018-05-08,69.06,1.75,1072.128182,1310.305455,51.100000,53.527273,76.272727,57.681818,68.83,342.960000,3.428182
2018-05-09,71.14,1.75,1072.594545,1309.531364,51.100000,53.481818,76.318182,57.745455,71.16,343.615000,3.429545
2018-05-10,71.36,1.75,1073.060909,1308.757273,51.100000,53.436364,76.363636,57.809091,71.36,344.270000,3.430909
2018-05-11,70.70,1.75,1073.527273,1307.983182,51.100000,53.390909,76.409091,57.872727,70.69,344.925000,3.432273
2018-05-14,70.96,1.75,1073.993636,1307.209091,51.100000,53.345455,76.454545,57.936364,71.01,345.580000,3.433636
2018-05-15,71.31,1.75,1074.460000,1306.435000,51.100000,53.300000,76.500000,58.000000,71.34,346.235000,3.435000
2018-05-16,71.49,1.75,1074.926364,1305.660909,51.100000,53.254545,76.545455,58.063636,71.43,346.890000,3.436364
2018-05-17,71.49,1.75,1075.392727,1304.886818,51.100000,53.209091,76.590909,58.127273,71.47,347.545000,3.437727
2018-05-18,71.28,1.75,1075.859091,1304.112727,51.100000,53.163636,76.636364,58.190909,71.23,348.200000,3.439091
2018-05-21,72.24,1.75,1076.325455,1303.338636,51.100000,53.118182,76.681818,58.254545,72.26,348.855000,3.440455
2018-05-22,72.13,1.75,1076.791818,1302.564545,51.100000,53.072727,76.727273,58.318182,72.09,349.510000,3.441818
2018-05-23,71.84,1.75,1077.258182,1301.790455,51.100000,53.027273,76.772727,58.381818,71.85,350.165000,3.443182
2018-05-24,70.71,1.75,1077.724545,1301.016364,51.100000,52.981818,76.818182,58.445455,70.77,350.820000,3.444545
2018-05-25,67.88,1.75,1078.190909,1300.242273,51.100000,52.936364,76.863636,58.509091,67.92,351.475000,3.445909
2018-05-29,66.73,1.75,1078.657273,1299.468182,51.100000,52.890909,76.909091,58.572727,66.80,352.130000,3.447273
2018-05-30,68.21,1.75,1079.123636,1298.694091,51.100000,52.845455,76.954545,58.636364,68.24,352.785000,3.448636
2018-05-31,67.04,1.75,1079.590000,1297.920000,51.100000,52.800000,77.000000,58.700000,66.98,353.440000,3.450000
2018-06-01,65.81,1.75,1077.117500,1296.242500,51.100000,52.800000,76.750000,58.700000,65.81,356.100000,3.462500
2018-06-04,64.75,1.75,1074.645000,1294.565000,51.100000,52.800000,76.500000,58.700000,64.76,358.760000,3.475000
2018-06-05,64.97,1.75,1072.172500,1292.887500,51.100000,52.800000,76.250000,58.700000,64.76,361.420000,3.487500
2018-06-30,64.97,1.75,1069.700000,1291.210000,51.100000,52.800000,76.000000,58.700000,64.76,364.080000,3.500000

In [11]:
df_reuter

,OILFUTURES=,USFFTARGET= CHT,USD=,XAU=,CNPMIC=ECI,JPRPMI=ECI,KRBUSI=ECI,USPMI=ECI,WTI=,GCI=,CCE=STOCK
Date,,,,,,,,,,,
1998-06-30,14.18,5.50,1370.000000,296.700000,49.400000,51.700000,87.000000,48.900000,14.30,106.283359,5.050000
1998-07-31,14.21,5.50,1229.000000,286.200000,49.400000,51.700000,87.000000,49.200000,14.27,106.283359,5.050000
1998-08-31,13.34,5.50,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-09-30,16.14,5.25,1388.500000,296.700000,49.400000,51.700000,87.000000,48.700000,16.19,106.283359,5.050000
1998-10-31,14.42,5.00,1318.000000,292.300000,49.400000,51.700000,87.000000,48.700000,14.48,106.283359,5.050000
1998-11-30,11.22,4.75,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-12-31,12.05,4.75,1200.000000,288.000000,49.400000,51.700000,87.000000,46.800000,12.14,106.283359,5.050000
1999-01-31,12.75,4.75,1174.000000,286.100000,49.400000,51.700000,87.000000,50.600000,12.81,106.283359,5.050000
1999-02-28,12.27,4.75,1222.500000,286.600000,49.400000,51.700000,87.000000,51.700000,12.31,106.283359,5.050000
1999-03-31,16.76,4.75,1226.000000,279.800000,49.400000,51.700000,87.000000,52.400000,16.77,106.283359,5.050000
1999-04-30,18.66,4.75,1188.000000,286.400000,49.400000,51.700000,87.000000,52.300000,18.69,106.283359,5.050000
1999-05-31,16.84,4.75,1186.200000,270.100000,49.400000,51.700000,87.000000,54.300000,16.85,110.243731,5.050000
1999-06-30,19.29,5.00,1157.500000,262.250000,49.400000,51.700000,87.000000,55.800000,19.33,132.690700,5.050000
1999-07-31,20.53,5.00,1203.000000,255.700000,49.400000,51.700000,87.000000,53.600000,20.52,123.954463,5.050000
1999-08-31,22.11,5.25,1180.000000,255.300000,49.400000,51.700000,87.000000,54.800000,22.15,155.860020,5.050000
1999-09-30,24.51,5.25,1216.000000,298.500000,49.400000,51.700000,87.000000,57.000000,24.54,135.798034,5.050000
1999-10-31,21.75,5.25,1199.000000,298.300000,49.400000,51.700000,87.000000,57.200000,21.79,133.708315,5.050000
1999-11-30,24.59,5.50,1159.000000,290.500000,49.400000,51.700000,87.000000,58.100000,24.87,120.883447,5.050000
1999-12-31,25.60,5.50,1135.000000,287.500000,49.400000,51.700000,87.000000,57.800000,25.76,127.314622,5.050000
2000-01-31,27.64,5.50,1123.000000,282.850000,49.400000,51.700000,87.000000,56.700000,27.65,178.951636,5.050000
2000-02-29,30.43,5.75,1130.900000,291.750000,49.400000,51.700000,87.000000,55.800000,30.57,182.348431,5.050000
2000-03-31,26.90,6.00,1105.000000,278.700000,49.400000,51.700000,87.000000,54.900000,26.86,172.359691,5.050000
2000-04-30,25.74,6.00,1109.500000,273.250000,49.400000,51.700000,87.000000,54.700000,25.71,154.944648,5.050000
2000-05-31,29.01,6.50,1129.000000,271.900000,49.400000,51.700000,87.000000,53.200000,29.03,181.257756,5.050000
2000-06-30,32.50,6.50,1114.900000,289.750000,49.400000,51.700000,87.000000,51.400000,32.44,180.501986,5.050000
2000-07-31,27.43,6.50,1116.600000,277.000000,49.400000,51.700000,87.000000,52.500000,27.50,189.174744,5.050000
2000-08-31,33.12,6.50,1108.700000,277.500000,49.400000,51.700000,87.000000,49.900000,33.09,188.874683,5.050000
2000-09-30,30.84,6.50,1115.000000,274.000000,49.400000,51.700000,87.000000,49.700000,30.87,191.961205,5.050000
2000-10-31,32.70,6.50,1136.000000,264.800000,49.400000,51.700000,87.000000,48.700000,32.70,199.966010,5.050000
2000-11-30,33.82,6.50,1214.000000,270.100000,49.400000,51.700000,87.000000,48.500000,33.61,193.392340,5.050000
...,...,...,...,...,...,...,...,...,...,...,...
2018-04-25,68.05,1.75,1068.032857,1316.242857,51.085714,53.700000,76.428571,57.585714,68.00,340.015714,3.380000
2018-04-26,68.19,1.75,1068.465238,1315.811905,51.090476,53.733333,76.285714,57.490476,68.18,339.687143,3.393333
2018-04-27,68.10,1.75,1068.897619,1315.380952,51.095238,53.766667,76.142857,57.395238,68.11,339.358571,3.406667
2018-04-30,68.57,1.75,1069.330000,1314.950000,51.100000,53.800000,76.000000,57.300000,68.56,339.030000,3.420000
2018-05-01,67.25,1.75,1069.796364,1314.175909,51.100000,53.754545,76.045455,57.363636,67.28,339.685000,3.421364
2018-05-02,67.93,1.75,1070.262727,1313.401818,51.100000,53.709091,76.090909,57.427273,67.91,340.340000,3.422727
2018-05-03,68.43,1.75,1070.729091,1312.627727,51.100000,53.663636,76.136364,57.490909,68.45,340.995000,3.424091
2018-05-04,69.72,1.75,1071.195455,1311.853636,51.100000,53.618182,76.181818,57.554545,69.71,341.650000,3.425455
2018-05-07,70.73,1.75,1071.661818,1311.079545,51.100000,53.572727,76.227273,57.618182,70.74,342.305000,3.426818
2018-05-08,69.06,1.75,1072.128182,1310.305455,51.100000,53.527273,76.272727,57.681818,68.83,342.960000,3.428182
2018-05-09,71.14,1.75,1072.594545,1309.531364,51.100000,53.481818,76.318182,57.745455,71.16,343.615000,3.429545
2018-05-10,71.36,1.75,1073.060909,1308.757273,51.100000,53.436364,76.363636,57.809091,71.36,344.270000,3.430909
2018-05-11,70.70,1.75,1073.527273,1307.983182,51.100000,53.390909,76.409091,57.872727,70.69,344.925000,3.432273
2018-05-14,70.96,1.75,1073.993636,1307.209091,51.100000,53.345455,76.454545,57.936364,71.01,345.580000,3.433636
2018-05-15,71.31,1.75,1074.460000,1306.435000,51.100000,53.300000,76.500000,58.000000,71.34,346.235000,3.435000
2018-05-16,71.49,1.75,1074.926364,1305.660909,51.100000,53.254545,76.545455,58.063636,71.43,346.890000,3.436364
2018-05-17,71.49,1.75,1075.392727,1304.886818,51.100000,53.209091,76.590909,58.127273,71.47,347.545000,3.437727
2018-05-18,71.28,1.75,1075.859091,1304.112727,51.100000,53.163636,76.636364,58.190909,71.23,348.200000,3.439091
2018-05-21,72.24,1.75,1076.325455,1303.338636,51.100000,53.118182,76.681818,58.254545,72.26,348.855000,3.440455
2018-05-22,72.13,1.75,1076.791818,1302.564545,51.100000,53.072727,76.727273,58.318182,72.09,349.510000,3.441818
2018-05-23,71.84,1.75,1077.258182,1301.790455,51.100000,53.027273,76.772727,58.381818,71.85,350.165000,3.443182
2018-05-24,70.71,1.75,1077.724545,1301.016364,51.100000,52.981818,76.818182,58.445455,70.77,350.820000,3.444545
2018-05-25,67.88,1.75,1078.190909,1300.242273,51.100000,52.936364,76.863636,58.509091,67.92,351.475000,3.445909
2018-05-29,66.73,1.75,1078.657273,1299.468182,51.100000,52.890909,76.909091,58.572727,66.80,352.130000,3.447273
2018-05-30,68.21,1.75,1079.123636,1298.694091,51.100000,52.845455,76.954545,58.636364,68.24,352.785000,3.448636
2018-05-31,67.04,1.75,1079.590000,1297.920000,51.100000,52.800000,77.000000,58.700000,66.98,353.440000,3.450000
2018-06-01,65.81,1.75,1077.117500,1296.242500,51.100000,52.800000,76.750000,58.700000,65.81,356.100000,3.462500
2018-06-04,64.75,1.75,1074.645000,1294.565000,51.100000,52.800000,76.500000,58.700000,64.76,358.760000,3.475000
2018-06-05,64.97,1.75,1072.172500,1292.887500,51.100000,52.800000,76.250000,58.700000,64.76,361.420000,3.487500
2018-06-30,64.97,1.75,1069.700000,1291.210000,51.100000,52.800000,76.000000,58.700000,64.76,364.080000,3.500000

In [12]:
#df_reuter = df_reuter.loc['2015-6':'2018-6']
df_reuter = df_reuter.resample('W').bfill()
df_reuter

,OILFUTURES=,USFFTARGET= CHT,USD=,XAU=,CNPMIC=ECI,JPRPMI=ECI,KRBUSI=ECI,USPMI=ECI,WTI=,GCI=,CCE=STOCK
Date,,,,,,,,,,,
1998-07-05,14.21,5.500000,1229.000000,286.200000,49.400000,51.700000,87.000000,49.200000,14.27,106.283359,5.050000
1998-07-12,14.21,5.500000,1229.000000,286.200000,49.400000,51.700000,87.000000,49.200000,14.27,106.283359,5.050000
1998-07-19,14.21,5.500000,1229.000000,286.200000,49.400000,51.700000,87.000000,49.200000,14.27,106.283359,5.050000
1998-07-26,14.21,5.500000,1229.000000,286.200000,49.400000,51.700000,87.000000,49.200000,14.27,106.283359,5.050000
1998-08-02,13.34,5.500000,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-08-09,13.34,5.500000,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-08-16,13.34,5.500000,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-08-23,13.34,5.500000,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-08-30,13.34,5.500000,1348.000000,276.400000,49.400000,51.700000,87.000000,49.300000,13.29,106.283359,5.050000
1998-09-06,16.14,5.250000,1388.500000,296.700000,49.400000,51.700000,87.000000,48.700000,16.19,106.283359,5.050000
1998-09-13,16.14,5.250000,1388.500000,296.700000,49.400000,51.700000,87.000000,48.700000,16.19,106.283359,5.050000
1998-09-20,16.14,5.250000,1388.500000,296.700000,49.400000,51.700000,87.000000,48.700000,16.19,106.283359,5.050000
1998-09-27,16.14,5.250000,1388.500000,296.700000,49.400000,51.700000,87.000000,48.700000,16.19,106.283359,5.050000
1998-10-04,14.42,5.000000,1318.000000,292.300000,49.400000,51.700000,87.000000,48.700000,14.48,106.283359,5.050000
1998-10-11,14.42,5.000000,1318.000000,292.300000,49.400000,51.700000,87.000000,48.700000,14.48,106.283359,5.050000
1998-10-18,14.42,5.000000,1318.000000,292.300000,49.400000,51.700000,87.000000,48.700000,14.48,106.283359,5.050000
1998-10-25,14.42,5.000000,1318.000000,292.300000,49.400000,51.700000,87.000000,48.700000,14.48,106.283359,5.050000
1998-11-01,11.22,4.750000,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-11-08,11.22,4.750000,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-11-15,11.22,4.750000,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-11-22,11.22,4.750000,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-11-29,11.22,4.750000,1245.000000,292.700000,49.400000,51.700000,87.000000,48.200000,11.37,106.283359,5.050000
1998-12-06,12.05,4.750000,1200.000000,288.000000,49.400000,51.700000,87.000000,46.800000,12.14,106.283359,5.050000
1998-12-13,12.05,4.750000,1200.000000,288.000000,49.400000,51.700000,87.000000,46.800000,12.14,106.283359,5.050000
1998-12-20,12.05,4.750000,1200.000000,288.000000,49.400000,51.700000,87.000000,46.800000,12.14,106.283359,5.050000
1998-12-27,12.05,4.750000,1200.000000,288.000000,49.400000,51.700000,87.000000,46.800000,12.14,106.283359,5.050000
1999-01-03,12.75,4.750000,1174.000000,286.100000,49.400000,51.700000,87.000000,50.600000,12.81,106.283359,5.050000
1999-01-10,12.75,4.750000,1174.000000,286.100000,49.400000,51.700000,87.000000,50.600000,12.81,106.283359,5.050000
1999-01-17,12.75,4.750000,1174.000000,286.100000,49.400000,51.700000,87.000000,50.600000,12.81,106.283359,5.050000
1999-01-24,12.75,4.750000,1174.000000,286.100000,49.400000,51.700000,87.000000,50.600000,12.81,106.283359,5.050000
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-10,57.99,1.333333,1080.210000,1283.723333,51.033333,53.733333,86.333333,58.566667,57.84,335.350000,3.530000
2017-12-17,57.16,1.392857,1075.267143,1290.411429,51.200000,53.828571,85.857143,58.828571,57.17,344.592857,3.530000
2017-12-24,59.97,1.452381,1070.324286,1297.099524,51.366667,53.923810,85.380952,59.090476,59.55,353.835714,3.530000
2017-12-31,60.42,1.500000,1066.370000,1302.450000,51.500000,54.000000,85.000000,59.300000,60.46,361.230000,3.530000
2018-01-07,61.73,1.500000,1067.015238,1312.509524,51.500000,54.190476,84.523810,59.252381,61.73,370.634762,3.651429
2018-01-14,63.73,1.500000,1067.660476,1322.569048,51.500000,54.380952,84.047619,59.204762,63.82,380.039524,3.772857
2018-01-21,63.49,1.500000,1068.176667,1330.616667,51.500000,54.533333,83.666667,59.166667,63.66,387.563333,3.870000
2018-01-28,65.56,1.500000,1068.821905,1340.676190,51.500000,54.723810,83.190476,59.119048,65.71,396.968095,3.991429
2018-02-04,64.15,1.500000,1071.468947,1340.430526,51.515789,54.689474,82.526316,59.368421,64.18,396.856842,3.967368
2018-02-11,59.29,1.500000,1075.450526,1333.314737,51.542105,54.505263,81.736842,59.815789,59.41,390.401579,3.846316
2018-02-18,61.90,1.500000,1079.432105,1326.198947,51.568421,54.321053,80.947368,60.263158,61.91,383.946316,3.725263
2018-02-25,63.91,1.500000,1082.617368,1320.506316,51.589474,54.173684,80.315789,60.621053,63.81,378.782105,3.628421
2018-03-04,62.57,1.534091,1080.942727,1318.524545,51.518182,53.963636,79.863636,60.595455,62.49,372.072273,3.520000
2018-03-11,61.36,1.590909,1075.497273,1319.965455,51.381818,53.736364,79.636364,60.254545,61.35,365.192727,3.420000
2018-03-18,62.06,1.647727,1070.051818,1321.406364,51.245455,53.509091,79.409091,59.913636,62.01,358.313182,3.320000
2018-03-25,65.55,1.704545,1064.606364,1322.847273,51.109091,53.281818,79.181818,59.572727,65.49,351.433636,3.220000
2018-04-01,63.01,1.750000,1060.682381,1323.569048,51.004762,53.133333,78.857143,59.204762,63.05,345.601429,3.153333
2018-04-08,63.42,1.750000,1062.844286,1321.414286,51.028571,53.300000,78.142857,58.728571,63.40,343.958571,3.220000
2018-04-15,66.22,1.750000,1065.006190,1319.259524,51.052381,53.466667,77.428571,58.252381,66.23,342.315714,3.286667
2018-04-22,68.64,1.750000,1067.168095,1317.104762,51.076190,53.633333,76.714286,57.776190,67.61,340.672857,3.353333
2018-04-29,68.57,1.750000,1069.330000,1314.950000,51.100000,53.800000,76.000000,57.300000,68.56,339.030000,3.420000
2018-05-06,70.73,1.750000,1071.661818,1311.079545,51.100000,53.572727,76.227273,57.618182,70.74,342.305000,3.426818
2018-05-13,70.96,1.750000,1073.993636,1307.209091,51.100000,53.345455,76.454545,57.936364,71.01,345.580000,3.433636
2018-05-20,72.24,1.750000,1076.325455,1303.338636,51.100000,53.118182,76.681818,58.254545,72.26,348.855000,3.440455
2018-05-27,66.73,1.750000,1078.657273,1299.468182,51.100000,52.890909,76.909091,58.572727,66.80,352.130000,3.447273
2018-06-03,64.75,1.750000,1074.645000,1294.565000,51.100000,52.800000,76.500000,58.700000,64.76,358.760000,3.475000
2018-06-10,64.97,1.750000,1069.700000,1291.210000,51.100000,52.800000,76.000000,58.700000,64.76,364.080000,3.500000
2018-06-17,64.97,1.750000,1069.700000,1291.210000,51.100000,52.800000,76.000000,58.700000,64.76,364.080000,3.500000
2018-06-24,64.97,1.750000,1069.700000,1291.210000,51.100000,52.800000,76.000000,58.700000,64.76,364.080000,3.500000
2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#인코딩 후 저장
df_reuter.to_csv(var_output_path, encoding='utf-8')

# 4. Reuter 석탄 가격 지표

In [14]:
df_pre_reuter_coal = pd.read_excel(idx_path)
df_reu_coal1 = df_pre_reuter_coal.iloc[1:, 0:2]
df_reu_coal1.columns = ['Date', 'China Export Coal Current Price']
df_reu_coal2 = df_pre_reuter_coal.iloc[1:, 3:5]
df_reu_coal2.columns = ['Date', 'China Export Other Coal Volume']
df_reu_coal3 = df_pre_reuter_coal.iloc[1:, 6:8]
df_reu_coal3.columns = ['Date', 'CHina Import Coal Volume']
df_reu_coal4 = df_pre_reuter_coal.iloc[1:, 9:11]
df_reu_coal4.columns = ['Date', 'China Import Coal Coke&Briquettes Current Price']
df_reu_coal5 = df_pre_reuter_coal.iloc[1:, 12:14]
df_reu_coal5.columns = ['Date', 'India Import Coal Coke&Briquettes Current Price']
df_reu_coal6 = df_pre_reuter_coal.iloc[1:, 15:17]
df_reu_coal6.columns = ['Date', 'SouthAfrica Producer Price Mining Coal&Gas Price']
df_reu_coal = pd.merge(df_reu_coal1, df_reu_coal2, how='left')
df_reu_coal = pd.merge(df_reu_coal, df_reu_coal3, how='left')
df_reu_coal = pd.merge(df_reu_coal, df_reu_coal4, how='left')
df_reu_coal = pd.merge(df_reu_coal, df_reu_coal5, how='left')
df_reu_coal = pd.merge(df_reu_coal, df_reu_coal6, how='left')
df_reu_coal = df_reu_coal.set_index('Date')
df_reu_coal

,China Export Coal Current Price,China Export Other Coal Volume,CHina Import Coal Volume,China Import Coal Coke&Briquettes Current Price,India Import Coal Coke&Briquettes Current Price,SouthAfrica Producer Price Mining Coal&Gas Price
Date,,,,,,
1998-06-30,62138000,1980000,80000,3191000,NaN,NaN
1998-07-31,66274000,2040000,140000,5564000,NaN,NaN
1998-08-31,90068000,2690000,280000,12534000,NaN,NaN
1998-09-30,82114000,2510000,170000,7609000,NaN,NaN
1998-10-31,83505000,2590000,210000,8872000,NaN,NaN
1998-11-30,89736000,2770000,130000,5598000,NaN,NaN
1998-12-31,204026000,6470000,190000,8179000,NaN,NaN
1999-01-31,50663000,1640000,230000,9497000,NaN,NaN
1999-02-28,82197000,2700000,40000,1582000,NaN,NaN
1999-03-31,88934000,3100000,190000,6995000,NaN,NaN
1999-04-30,71556000,2340000,170000,61000,NaN,NaN
1999-05-31,120087000,4020000,150000,5544000,NaN,NaN
1999-06-30,90291000,3120000,220000,7606000,NaN,NaN
1999-07-31,88990000,3140000,160000,5186000,NaN,NaN
1999-08-31,60031000,1840000,170000,6518000,NaN,NaN
1999-09-30,79832000,2760000,190000,6802000,NaN,NaN
1999-10-31,86056000,3090000,190000,6683000,NaN,NaN
1999-11-30,110056000,3990000,10000,281000,NaN,NaN
1999-12-31,155056000,5660000,130000,4477000,NaN,NaN
2000-01-31,69956000,2600000,150000,5009000,NaN,NaN
2000-02-29,79578000,2860000,140000,3973000,NaN,NaN
2000-03-31,107785000,4210000,180000,5702000,NaN,NaN
2000-04-30,146432000,5590000,180000,5870000,NaN,NaN
2000-05-31,123556000,4770000,210000,6658000,NaN,NaN
2000-06-30,112754000,4110000,150000,5074000,NaN,NaN
2000-07-31,161280000,6330000,200000,6203000,NaN,NaN
2000-08-31,142220000,5440000,60000,1312000,NaN,NaN
2000-09-30,121428000,4570000,250000,9813000,NaN,NaN
2000-10-31,136594000,5200000,150000,5358000,NaN,NaN
2000-11-30,152982000,5370000,220000,7814000,NaN,NaN
...,...,...,...,...,...,...
2015-12-31,39963880,438770,1.76412e+07,892105370,NaN,87.2
2016-01-31,44007200,610000,15230000,726132790,NaN,87.9
2016-02-29,71073000,910000,13540000,660168670,NaN,88.4
2016-03-31,92859000,1270000,19690000,930476950,NaN,86.3
2016-04-30,38410000,520000,18800000,923590870,NaN,87.7
2016-05-31,54586000,710000,19030000,884934880,NaN,88.8
2016-06-30,53943000,660000,21750000,1084888760,NaN,90
2016-07-31,19768000,230000,21210000,1056840050,NaN,90.7
2016-08-31,52327000,760000,26590000,1373024360,NaN,91.6
2016-09-30,48402000,630000,24440000,1234596490,NaN,89.3
2016-10-31,62395000,900000,21580000,1312566000,NaN,96.6
2016-11-30,73414000,820000,26970000,1725302590,NaN,99.5
2016-12-31,87061000,760000,26840000,2212680960,NaN,100
2017-01-31,70174000,600000,24910000,2343648190,NaN,97.8
2017-02-28,43389000,470000,17680000,1616288090,NaN,98.2
2017-03-31,133370000,1380000,22090000,1872509580,NaN,93.5
2017-04-30,123105000,890000,24780000,2167519080,NaN,97.5
2017-05-31,229678000,1310000,22190000,1637460200,NaN,92.2
2017-06-30,141796000,730000,21600000,1715162790,NaN,93.6
2017-07-31,62149000,480000,19460000,1605775030,NaN,98.1
2017-08-31,11446000,60000,25270000,1966495800,NaN,101.8
2017-09-30,80051000,690000,27080000,2084522350,NaN,107.9
2017-10-31,23003000,120000,21280000,1707883780,NaN,110.1
2017-11-30,90549000,750000,22050000,1877684200,NaN,112.4
2017-12-31,94997000,700000,22740000,2043927440,NaN,113
2018-01-31,57236000,280000,27810000,2331217150,NaN,109.9
2018-02-28,60354000,470000,20906000,1785690680,NaN,106.9
2018-03-31,47307000,219000,26700000,2270529400,NaN,104.5
2018-04-30,81335000,511000,22280000,1915761000,NaN,105.5
2018-05-31,74400000,533000,22333000,NaN,NaN,NaN

In [15]:
for c in df_reu_coal:
    df_reu_coal[c] = df_reu_coal[c].astype('float')
    df_reu_coal[c] = df_reu_coal[c].interpolate(limit_direction='both')

In [16]:
#인코딩 후 저장
df_reu_coal.to_csv(idx_output_path, encoding='utf-8')

# 5. 정규화

In [17]:
def normalize_(df):
    values = df.values
    values = np.asarray(values, dtype=np.float32)

    scaler = MinMaxScaler(feature_range=(0, 1))
    values = scaler.fit_transform(values)
    df = pd.DataFrame(values, index=df.index, columns=df.columns)

    return df, scaler

In [18]:
# df_reu_coal_scaler.transform(df_reu_coal)
# df_reu_coal_scaler.data_min_
# df_reu_coal_scaler.data_max_
df_gci_normalize, df_gci_scaler = normalize_(df_gci)
df_pds_normalize, df_pds_scaler = normalize_(df_pds)
df_reuter_normalize, df_reuter_scaler = normalize_(df_reuter)
df_reu_coal_normalize, df_reu_coal_scaler = normalize_(df_reu_coal)

In [19]:
# np.savetxt('../data2/scaler_test.csv', df_reu_coal_scaler.inverse_transform(df_reu_coal_normalize),  delimiter=',')
np.savetxt('../data2/weekly_gci_normalize.csv', df_gci_normalize,  delimiter=',')
np.savetxt('../data2/weekly_pds_normalize.csv', df_pds_normalize,  delimiter=',')
np.savetxt('../data2/var_reuter_set_normalize.csv', df_reuter_normalize,  delimiter=',')
np.savetxt('../data2/idx_reuter_coal_normalize.csv', df_reu_coal_normalize,  delimiter=',')